{% extends 'base.html' %}

{% block title %}
Search Reviews
{% endblock %}

{% block content %}
<h1>View Reviews</h1>
<p>
    Find a review by either searching the 
    <b>
        door number, street name, town, city or postcode
    </b>.
</p>

<form action="{{ url_for('all_reviews') }}" method="post">
    <button type="submit">All Reviews</button>
</form>
<br>
<form action="{{ url_for('filter_rating') }}" method="post">
    <label for="searchRating">Search by Review Rating: </label>
    <input type="number" name="searchRating" id="searchRating" placeholder="Enter a rating from 1 - 5" required>
    <button type="submit">Find Reviews</button>
</form>
<br>
<form action="{{ url_for('filter_door_num') }}" method="post">
    <label for="searchDoorNumber">Search by Door Number: </label>
    <input type="text" name="searchDoorNumber" id="searchDoorNumber" placeholder="Enter a door number" required>
    <button type="submit">Find Reviews</button>
</form>
<br>
<form action="{{ url_for('filter_street') }}" method="post">
    <label for="searchStreetName">Search by Street Name: </label>
    <input type="text" name="searchStreetName" id="searchStreetName" placeholder="Enter a street name" required>
    <button type="submit">Find Reviews</button>
</form>
<br>
<form action="{{ url_for('filter_town') }}" method="post">
    <label for="searchTown">Search by Town: </label>
    <input type="text" name="searchTown" id="searchTown" placeholder="Enter a street name" required>
    <button type="submit">Find Reviews</button>
</form>
<br>
<form action="{{ url_for('filter_city') }}" method="post">
    <label for="searchCity">Search by City: </label>
    <input type="text" name="searchCity" id="searchCity" placeholder="Enter a street name" required>
    <button type="submit">Find Reviews</button>
</form>
<br>
<form action="{{ url_for('filter_postcode') }}" method="post">
    <label for="searchPostcode">Search by Postcode: </label>
    <input type="text" name="searchPostcode" id="searchPostcode" placeholder="Enter a street name" required>
    <button type="submit">Find Reviews</button>
</form>
<br><br>
<form action="{{ url_for('listed_towns') }}" method="post">
    <button type="submit">Listed Towns</button>
</form>
<br>
<form action="{{ url_for('listed_cities') }}" method="post">
    <button type="submit">Listed Towns</button>
</form>
<br>

{% if void %}
{{ void }}
{% endif %}

{% if get_reviews %}
<h3>All Reviews:</h3>
{% for review in get_reviews %}
<h5>Review:</h5>
<p>{{ review.review }}</p>
<p><i>Reviewed By: </i>{{ review.reviewed_by }}</p>
<p><i>Date: </i>{{ review.date }}</p>
<h5>Address:</h5>
<p>
    {{ review.building.door_num }}, {{ review.building.street }}, 
    {% if review.building.town %}
    {{ review.building.town }}, 
    {% endif %}
    {% if review.building.city %}
    {{ review.building.city }}, 
    {% endif %}
    {{ review.building.postcode }}
</p>
{% endfor %}
{% endif %}

{% if find_rating %}
<h3>All Reviews:</h3>
{% for review in find_rating %}
<h5>Review:</h5>
<p>{{ review.review }}</p>
<p><i>Reviewed By: </i>{{ review.reviewed_by }}</p>
<p><i>Date: </i>{{ review.date }}</p>
<h5>Address:</h5>
<p>
    {{ review.building.door_num }}, {{ review.building.street }}, 
    {% if review.building.town %}
    {{ review.building.town }}, 
    {% endif %}
    {% if review.building.city %}
    {{ review.building.city }}, 
    {% endif %}
    {{ review.building.postcode }}
</p>
{% endfor %}
{% endif %}

{% for review, address in find_door %}
<h3>All Reviews:</h3>
<h5>Review:</h5>
<p>{{ review.review }}</p>
<p><i>Reviewed By: </i>{{ review.reviewed_by }}</p>
<p><i>Date: </i>{{ review.date }}</p>
<h5>Address:</h5>
<p>
    {{ address.door_num }}, {{ address.street }}, 
    {% if address.town %}
    {{ address.town }}, 
    {% endif %}
    {% if address.city %}
    {{ address.city }}, 
    {% endif %}
    {{ address.postcode }}
</p>
{% endfor %}

{% for review, address in find_street %}
<h3>All Reviews:</h3>
<h5>Review:</h5>
<p>{{ review.review }}</p>
<p><i>Reviewed By: </i>{{ review.reviewed_by }}</p>
<p><i>Date: </i>{{ review.date }}</p>
<h5>Address:</h5>
<p>
    {{ address.door_num }}, {{ address.street }}, 
    {% if address.town %}
    {{ address.town }}, 
    {% endif %}
    {% if address.city %}
    {{ address.city }}, 
    {% endif %}
    {{ address.postcode }}
</p>
{% endfor %}

{% endblock %}