<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/metro-all.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Sports Desktop App</title>
</head>
<body>
<h1>Main Menu</h1>

<a href="\home" class="button">Go home</a>
<a href="\new_session" class="button">Create Session</a>
<a href="\view_sessions" class="button">View Sessions</a>
<a href="" class="button">View Stats</a>
<br>
{% if message %}
    <p style="color: green;">
        {{ message }}
    </p>
{% endif %}
<!-- <label for="name">Name</label>
<input type="text" name="student_name" id="student_name"> -->
<script src="../static/jquery-3.4.1.min.js"></script>
<script src="../static/metro.min.js"></script>
<script src="../static/stop_server.js"></script>
</body>
</html>