<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/metro-all.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Sports Desktop App</title>
</head>
<body>
    
<h1>Create New Session</h1>
<br>
<form action="\new_session" method="post">
    <p>
        Enter the name of your new session.
    </p>
    <br>
    <label for="session_name">Title</label>
    <input type="text" name="session_name" id="session_name" placeholder="Session Name" required>
    <br>
    <p>
        Enter the names of your students below.
    </p>
    <br>
    <label for="student1">Student 1</label>
    <input type="text" name="student1" id="student1" placeholder="Student name" required>
    <label for="student2">Student 2</label>
    <input type="text" name="student2" id="student2" placeholder="Student name" required>
    <label for="student3">Student 3</label>
    <input type="text" name="student3" id="student3" placeholder="Student name" required>
    <br>
    <button type="submit">Create New Session</button>
    
</form>

<a href="\" class="button">Return to Menu</a>


<script src="../static/jquery-3.4.1.min.js"></script>
<script src="../static/metro.min.js"></script>
<script src="../static/stop_server.js"></script>


</body>
</html>